@use 'base/variables' as v;
@use 'base/mixins' as m;

.dev__contenedor {
    @include telefono {
        margin-top: 15rem;
        justify-content: space-around;
    }

}

.dev__titulo {
    @include telefono {
        width: 100%;
        margin: 3rem 0 1rem 0;
        font-size: 3rem;
        color: $azulClaro;
    }

    margin: 0 0 3rem 0;
    font-size: 7rem;
    color: $azulClaro;
}

.dev__sociales {
    display: flex;
    gap: 2rem;
}

.dev__info {

    margin-bottom: 4rem;
    width: auto;
}

.dev__descripcion {
    @include telefono {
        font-size: 1.5rem;
        width: 80%;
    }
    font-size: 2rem;
    width: 55rem;
}

.typed {
    color: $verde;
}

#kirby{
    @include telefono{
        position: absolute;
        margin: 5rem 23rem 0rem 10rem ;
    }
    
}