
// .skills {
//     @include telefono {
//         height: auto;
//     }
// }
.skills__contenedor {
    @include telefono {
        gap: 3rem;
    }

display: grid;
grid-template-columns: repeat(2, 1fr);
 
}
.skills__stack {
    height: auto;
}
.skills__formacion {
    @include telefono {
        height: 50rem;  
        
    }
    height: 30rem;
}

.skills__educacion {
    margin-bottom: 2rem;
}
.stack {
    @include telefono {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 1rem 0 1rem 0;
    }
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin: 1rem 0 1rem 0;
}

.skill__escuela {
    font-size: 2rem;
}
.skill__descripcion {
    @include telefono {
        margin-bottom: 3rem;
    }
    line-height: 2rem;
    font-size: 1.5rem;
    width: 15rem;
    
}
.softskill {
    width: auto;
    height: auto;
    background-color: $azulMid;
}

.softnombre {
    @include telefono {
        font-size: .8rem;
    }
    font-size: .8rem;
}